# Common parameters
# All the parameters here are similar to the command line arguments

[common]
cuda_devices 0 1 2 3 4 5
intensity    64 64 64 64 64 64
templimit    80
pec          0
boff         0
eexit        0
tempunits    C
log          3
logfile      miner.log
api          127.0.0.1:42000
algo         144_5
pers         BgoldPoW

# The miner start work from this server
# When the server is fail, the miner will try to reconnect 3 times
# After three unsuccessful attempts, the miner will switch to the next server
# You can add up to 8 servers

# main server
[server]
server us-east.btg.bitpoolmining.com
port   3070
user   GLNfoHowt8LmujHLrXRW2JnAzHrK9L3e8h.test
pass   x

# additional server 1
[server]
server us-east.btg.bitpoolmining.com
port   3070
user   GLNfoHowt8LmujHLrXRW2JnAzHrK9L3e8h.test
pass   x
